main {
    display: flex;
    flex-direction: row;
}

body {
    width: 70%;
    height: 100%;
    padding-left: 15%;
    padding-right: 2%;
    background-color: seashell;
}

label {
    display: block;
    margin-top: 3px;
    margin-right: 3em;
    
}

input {
    margin-right: 3em;
    background-color: darkgrey;
    
}

h1 {
    margin-bottom: auto;
    margin-left: 250px;
}

nav {
    margin-left: 75px;
}